{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img
      class="img-thumbnail"
      src="/img/reproductor.jpg"
      alt="Reproducor musica"
      width="250"
    >
    <div>
      <h2>Mi Lista de Musica</h2>
      <p>
        Con este reproductor de musica es muy fácil encontrar la música o el podcast perfectos para cada momento desde tu teléfono, computadora, tablet y muchos otros dispositivos.

        En el sitio hay millones de canciones y episodios. Entonces, ya sea que estés manejando, haciendo ejercicio, de fiesta o en un momento relajante, la música o el podcast perfectos siempre están a tu alcance. Elige lo que quieres escuchar o deja que reproductor te sorprenda.

        Además, puedes explorar las colecciones de artistas y celebridades y disfrutar de la música.

        Ponle música a tu vida. Escucha música gratis.
      </p>
    </div>
  </div>
  {{> backhome}}
</div>
<footer class="site-foorer">

        <div class="grid-footer contenedor">
            <div>
                <h3>COMPAÑÍA</h3>
                    <nav class="footer-menu">
                        <a href="#">Cocina</a>
                        <a href="#">Acerca de</a>
                        <a href="#">Empleo</a>
                        <a href="#">For the Record</a>
                    </nav>
            </div>
            <div>
                <h3>COMUNIDADES</h3>
                <nav class="footer-menu">
                    <a href="#">Servicios para artistas</a>
                    <a href="#">Desarrolladores</a>
                    <a href="#">Publicidad</a>
                    <a href="#">Inversionistas</a>
                    <a href="#">Proveedores</a>
                </nav>
            </div>
            <div>
                <h3>ENLACES ÚTILES</h3>
                <nav class="footer-menu">
                    <a href="#">Ayuda</a>
                    <a href="#">Reproductor web</a>
                    <a href="#">App móvil gratis</a>
                </nav>
            </div>
        </div>

   

        <p class="copy-right">Todos lo derechos son reservados</p>
        



    </footer>