<div class="nav-principal">
            <div class="box">
                <a href="/">Inicio</a>
            </div>
            <div class="box">
                <a href="/about">Blog</a>
            </div>
            <div class="box">
                <a href="/players/create">Agregar Canciones</a>
            </div>
        </div>